Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Docusaurus project
# Install with: pip install pre-commit
# Then run: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: yarn lint
        language: system
        files: \.(js|jsx|ts|tsx|mdx)$
        pass_filenames: false
        always_run: false

  # CSS linting
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: yarn lint:css
        language: system
        files: \.(css|scss|sass|less)$
        pass_filenames: false
        always_run: false

  # Code formatting with Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: yarn format
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$
        pass_filenames: false
        always_run: false

  # Security scanning
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        entry: python -m detect_secrets scan --baseline .secrets.baseline
        language: system
        files: \.(js|jsx|ts|tsx|py|yaml|yml|json)$
        pass_filenames: false
        always_run: false
        exclude: ^(yarn\.lock|package-lock\.json)$

  # Docusaurus specific checks
  - repo: local
    hooks:
      - id: docusaurus-build-check
        name: Docusaurus build check
        entry: yarn build
        language: system
        files: \.(js|jsx|ts|tsx|mdx|json)$
        pass_filenames: false
        always_run: false
        stages: [pre-push]

# Exclude patterns
exclude: |
  (?x)^(
    \.git/.*|
    node_modules/.*|
    build/.*|
    dist/.*|
    \.docusaurus/.*|
    yarn\.lock|
    package-lock\.json|
    \.secrets\.baseline
  )$

Add trailing slash aliases for docs pages
  scripts/audit-docs-build.js
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Refine agentic workflow docs positioning
  .mkdocs-routes.txt
  docs/agentic-workflow-engine.mdx
  docs/getting-started/introduction.mdx
  docs/glossary.mdx
  mkdocs.yml
  mkdocs_content/agentic-workflow-engine.md
  mkdocs_content/ai-orchestration.md
  mkdocs_content/ai-orchestration/durable-agents.md
  mkdocs_content/ai-orchestration/failure-semantics.md
  mkdocs_content/ai-orchestration/production-agent-architecture.md
  mkdocs_content/category/getting-started.md
  mkdocs_content/developer-guides/conductor-skills.md
  mkdocs_content/glossary.md
  mkdocs_content/index.md
  mkdocs_content/llms-full.txt
  mkdocs_content/llms.txt
  mkdocs_content/quickstarts/json-code-native.md
  mkdocs_content/robots.txt
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix docs audit for alternate base URL
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Reorganize docs top navigation
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update docs site title and events nav
  docs/what-is-orkes-conductor.mdx
  mkdocs.yml
  mkdocs_content/llms-full.txt
  mkdocs_content/llms.txt
  mkdocs_overrides/main.html
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update business-rule.mdx
  docs/reference-docs/system-tasks/business-rule.mdx
Due: eslint, prettier, docusaurus-build-check

Add prompts docs and sidebar entry
  docs/reference-docs/api/prompts/create-prompt.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add docs for POST prompt-version and update link
  docs/reference-docs/api/prompts/create-prompt-version.mdx
  docs/reference-docs/api/prompts/create-prompt.mdx
Due: eslint, prettier, docusaurus-build-check

Create create-prompts-bulk.mdx
  docs/reference-docs/api/prompts/create-prompts-bulk.mdx
Due: eslint, prettier, docusaurus-build-check

Create delete-prompt.mdx
  docs/reference-docs/api/prompts/delete-prompt.mdx
Due: eslint, prettier, docusaurus-build-check

Add API doc for deleting prompt version
  docs/reference-docs/api/prompts/delete-prompt-version.mdx
  docs/reference-docs/api/prompts/delete-prompt.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-prompt.mdx
  docs/reference-docs/api/prompts/get-prompt.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-all-prompt-versions.mdx
  docs/reference-docs/api/prompts/get-all-prompt-versions.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-all-prompts.mdx
  docs/reference-docs/api/prompts/get-all-prompts.mdx
Due: eslint, prettier, docusaurus-build-check

Add prompt tags API reference docs
  docs/reference-docs/api/prompts/add-tags-to-prompt.mdx
  docs/reference-docs/api/prompts/delete-tags-from-prompt.mdx
  docs/reference-docs/api/prompts/get-tags-from-prompt.mdx
Due: eslint, prettier, docusaurus-build-check

Create test-prompts.mdx
  docs/reference-docs/api/prompts/test-prompts.mdx
Due: eslint, prettier, docusaurus-build-check

docs(slack): fix links, params & wording
  docs/integrations/connected-apps/productivity/slack-operations.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
Due: eslint, prettier, docusaurus-build-check

Update slack.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
Due: eslint, prettier, docusaurus-build-check

Add Slack integration docs and sidebar
  docs/integrations/connected-apps/productivity/slack-operations.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
  sidebars.js
  static/img/slack-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Revise conceptual guides and task state diagram
  docs/conceptual-guides/architecture.mdx
  docs/conceptual-guides/directed-acyclic-graph.mdx
  docs/conceptual-guides/workflow-and-task-status.mdx
  static/img/Worker-Interaction-Diagram.jpg
  static/img/conceptual-guides/workflow_lifecyle-task_states.png
  static/img/conductor-architecture.jpg
  static/img/task-states.png
Due: eslint, prettier, docusaurus-build-check

Update llms.txt
  static/llms.txt
Due: none

Update sidebars.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add GitHub integration docs and sidebar
  docs/integrations/connected-apps/source-control/github-operations.mdx
  docs/integrations/connected-apps/source-control/github.mdx
  sidebars.js
  static/img/github.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update github-operations.mdx
  docs/integrations/connected-apps/source-control/github-operations.mdx
Due: eslint, prettier, docusaurus-build-check

Update google-sheets-operations.mdx
  docs/integrations/connected-apps/productivity/google-sheets-operations.mdx
Due: eslint, prettier, docusaurus-build-check

Update google-calendar-operations.mdx
  docs/integrations/connected-apps/productivity/google-calendar-operations.mdx
Due: eslint, prettier, docusaurus-build-check

ordering updates
  docs/integrations/connected-apps/productivity/google-drive-operations.mdx
  docs/integrations/connected-apps/productivity/google-drive.mdx
Due: eslint, prettier, docusaurus-build-check

google docs
  docs/integrations/connected-apps/productivity/google-docs-operations.mdx
  docs/integrations/connected-apps/productivity/google-docs.mdx
Due: eslint, prettier, docusaurus-build-check

Update notion.mdx
  docs/integrations/connected-apps/productivity/notion.mdx
Due: eslint, prettier, docusaurus-build-check

Update notion-operations.mdx
  docs/integrations/connected-apps/productivity/notion-operations.mdx
Due: eslint, prettier, docusaurus-build-check

notion
  docs/integrations/connected-apps/productivity/notion-operations.mdx
  docs/integrations/connected-apps/productivity/notion.mdx
Due: eslint, prettier, docusaurus-build-check

Update wordpress-operations.mdx
  docs/integrations/connected-apps/cms/wordpress-operations.mdx
Due: eslint, prettier, docusaurus-build-check

Update aws-s3.mdx
  docs/integrations/connected-apps/cloud/aws-s3.mdx
Due: eslint, prettier, docusaurus-build-check

hubspot
  docs/integrations/connected-apps/community/common-room-operations.mdx
  docs/integrations/connected-apps/crm/hubspot-operations.mdx
  docs/integrations/connected-apps/crm/hubspot.mdx
Due: eslint, prettier, docusaurus-build-check

VERSION NOTES
  docs/integrations/connected-apps/cloud/aws-s3.mdx
  docs/integrations/connected-apps/cms/wordpress.mdx
  docs/integrations/connected-apps/community/common-room.mdx
  docs/integrations/connected-apps/crm/hubspot.mdx
  docs/integrations/connected-apps/productivity/google-calendar.mdx
  docs/integrations/connected-apps/productivity/google-docs.mdx
  docs/integrations/connected-apps/productivity/google-drive.mdx
  docs/integrations/connected-apps/productivity/google-sheets.mdx
  docs/integrations/connected-apps/productivity/google-slides.mdx
  docs/integrations/connected-apps/productivity/notion.mdx
  docs/integrations/connected-apps/project-management/discourse.mdx
Due: eslint, prettier, docusaurus-build-check

Update discourse-operations.mdx
  docs/integrations/connected-apps/project-management/discourse-operations.mdx
Due: eslint, prettier, docusaurus-build-check

Update common-room-operations.mdx
  docs/integrations/connected-apps/community/common-room-operations.mdx
Due: eslint, prettier, docusaurus-build-check

Update do-while.mdx
  docs/reference-docs/operators/do-while.mdx
Due: eslint, prettier, docusaurus-build-check
