Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Sync mkdocs.yml nav labels with the title/H1 fixes in 761dda08
  mkdocs.yml
Due: prettier, detect-secrets

Remove more UI screenshots, an unused nav entry, and stale sections
  docs/developer-guides/debugging-workflows.mdx
  docs/developer-guides/schema-validation.mdx
  docs/developer-guides/task-input-templates.mdx
  docs/developer-guides/task-to-domain.mdx
  docs/developer-guides/using-environment-variables.mdx
  docs/reference-docs/operators/do-while.mdx
  docs/reference-docs/operators/join.mdx
  mkdocs.yml
  mkdocs_content/developer-guides/build-workflows-using-ui.md
  mkdocs_content/developer-guides/convert-bpmn-to-workflows.md
  mkdocs_content/developer-guides/debugging-workflows.md
  mkdocs_content/developer-guides/integration-with-cicd.md
  mkdocs_content/developer-guides/metrics-and-observability.md
  mkdocs_content/developer-guides/running-workflows.md
  mkdocs_content/developer-guides/scheduling-workflows.md
  mkdocs_content/developer-guides/schema-validation.md
  mkdocs_content/developer-guides/secrets-in-conductor.md
  mkdocs_content/developer-guides/sending-signals-to-workflows.md
  mkdocs_content/developer-guides/task-input-templates.md
  mkdocs_content/developer-guides/task-to-domain.md
  mkdocs_content/developer-guides/unit-and-regression-tests.md
  mkdocs_content/developer-guides/using-environment-variables.md
  mkdocs_content/developer-guides/workflows.md
  mkdocs_content/developer-guides/write-workflows-using-code.md
  mkdocs_content/error-handling.md
  mkdocs_content/idempotency.md
  mkdocs_content/llms-full.txt
  mkdocs_content/reference-docs/operators/do-while.md
  mkdocs_content/reference-docs/operators/join.md
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Redesign the docs home page and fix a site-wide broken-CSS bug
  scripts/generate-mkdocs-site.js
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Make all three "Keep learning" resource cards match
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Match Choose-how-you-build bullet colors, drop first-ai-agent screenshots
  docs/ai-cookbook/first-ai-agent.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Rewrite Reference/Integrations hub copy, fix duplicate headings, add definition-first sentences
  docs/agentic-workflow-engine.mdx
  docs/developer-guides/unit-and-regression-tests.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Restore missing UI paths for secrets, trim redundant scheduler list description
  docs/developer-guides/scheduling-workflows.mdx
  docs/developer-guides/secrets-in-conductor.mdx
Due: eslint, prettier, docusaurus-build-check

Remove duplicate More resources section from AI/LLM and vector DB pages
  docs/developer-guides/using-ai-prompts.mdx
  docs/developer-guides/using-llms-in-your-orkes-conductor-workflows.mdx
  docs/developer-guides/using-vector-databases-in-your-orkes-conductor-workflows.mdx
  docs/integrations/ai-llm/anthropic-claude.mdx
  docs/integrations/ai-llm/aws-bedrock-anthropic.mdx
  docs/integrations/ai-llm/aws-bedrock-cohere.mdx
  docs/integrations/ai-llm/aws-bedrock-llama.mdx
  docs/integrations/ai-llm/aws-bedrock-titan.mdx
  docs/integrations/ai-llm/azure-open-ai.mdx
  docs/integrations/ai-llm/cohere.mdx
  docs/integrations/ai-llm/google-gemini-ai.mdx
  docs/integrations/ai-llm/grok.mdx
  docs/integrations/ai-llm/hugging-face.mdx
  docs/integrations/ai-llm/mistral.mdx
  docs/integrations/ai-llm/ollama.mdx
  docs/integrations/ai-llm/open-ai.mdx
  docs/integrations/ai-llm/perplexity.mdx
  docs/integrations/ai-llm/vertex-ai.mdx
  docs/integrations/vector-databases/mongo-vector-database.mdx
  docs/integrations/vector-databases/pinecone.mdx
  docs/integrations/vector-databases/postgres-vector-database.mdx
  docs/integrations/vector-databases/weaviate.mdx
Due: eslint, prettier, docusaurus-build-check

Fix meta description bugs, typos, and trim to under 160 chars
  docs/ai-cookbook/first-ai-agent.mdx
  docs/conceptual-guides/architecture.mdx
  docs/conceptual-guides/workflow-and-task-status.mdx
  docs/cookbook/dynamic-workflows.mdx
  docs/cookbook/task-timeouts-and-retries.mdx
  docs/cookbook/workflow-scheduling.mdx
  docs/developer-guides/conductor-skills.mdx
  docs/developer-guides/passing-inputs-to-task-in-conductor.mdx
  docs/event-driven-orchestration/publish-events.mdx
  docs/getting-started/introduction.mdx
  docs/getting-started/quickstart-index.mdx
  docs/quickstart/concepts.mdx
  docs/quickstart/durable-execution.mdx
  docs/quickstart/json-code-native.mdx
  docs/quickstart/tasks.mdx
  docs/quickstart/workflows.mdx
  docs/reference-docs/api/integrations/add-tags-to-integration-resource.mdx
  docs/reference-docs/api/integrations/delete-tags-from-integration-resource.mdx
  docs/reference-docs/api/integrations/get-tags-from-integration-resource.mdx
  docs/reference-docs/api/tags/add-tag-to-a-workflow-definition.mdx
  docs/reference-docs/api/users/get-all-users.mdx
  docs/reference-docs/system-tasks/index.mdx
  docs/sdks/golang.mdx
  docs/tutorials/question-answering-with-embeddings.mdx
  docs/what-is-orkes-conductor.mdx
Due: eslint, prettier, docusaurus-build-check

Update generate-mkdocs-site.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Consolidate Gateway Metrics into API/MCP Gateway docs, fix broken table lists
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/gateway-metrics.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
  docs/developer-guides/task-to-domain.mdx
  docs/developer-guides/using-workers.mdx
  sidebars.js
  static/llms.txt
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix broken internal link in task-to-domain UI tab
  docs/developer-guides/task-to-domain.mdx
  static/llms.txt
Due: eslint, prettier, docusaurus-build-check

Expand event publish/receive docs
  docs/event-driven-orchestration/publish-events.mdx
  docs/event-driven-orchestration/receive-events.mdx
Due: eslint, prettier, docusaurus-build-check

Add Operators overview page, wire up orphaned System Tasks index
  docs/access-control-and-security/users-and-groups.mdx
  docs/reference-docs/operators/index.mdx
  docs/reference-docs/worker-task.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
  static/llms.txt
Due: eslint, prettier, detect-secrets, docusaurus-build-check

index page
  docs/reference-docs/system-tasks/index.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Alerting Tasks and AI Tasks overview pages, clean up System Tasks
  docs/reference-docs/ai-tasks/index.mdx
  docs/reference-docs/alerting-tasks.mdx
  docs/reference-docs/system-tasks/index.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

enh:theme updates
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

broken link fix
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix:footer prev/next color fix
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

feat(docs): match marketing-site footer
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix Agent SDK naming and tighten homepage copy
  docs/ai-cookbook/first-ai-agent.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix broken list/table rendering and tighten copy across several pages
  docs/conceptual-guides/architecture.mdx
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
  docs/developer-guides/remote-services.mdx
  docs/developer-guides/running-workflows.mdx
  docs/developer-guides/using-llms-in-your-orkes-conductor-workflows.mdx
  docs/get-orkes-conductor.mdx
  docs/quickstart/concepts.mdx
  docs/quickstart/json-code-native.mdx
Due: eslint, prettier, docusaurus-build-check

fix(docs): make inline code inside links legible in light mode
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix remaining list-renumbering bugs in gateway pages
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
Due: eslint, prettier, docusaurus-build-check

fix
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
Due: eslint, prettier, docusaurus-build-check

Update first-ai-agent.mdx
  docs/ai-cookbook/first-ai-agent.mdx
Due: eslint, prettier, docusaurus-build-check

Update ai-orchestration.mdx
  docs/developer-guides/ai-orchestration.mdx
Due: eslint, prettier, docusaurus-build-check

Fix broken list rendering across tutorials and access-control pages
  docs/access-control-and-security/tags.mdx
  docs/access-control-and-security/users-and-groups.mdx
  docs/developer-guides/enabling-cdc-on-conductor-workflows.mdx
  docs/tutorials/daily-scrum-automation-using-standup-bot.mdx
  docs/tutorials/github-webhook.mdx
  docs/tutorials/using-idempotency-keys-in-webhook-triggered-workflows.mdx
Due: eslint, prettier, docusaurus-build-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

