Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Docusaurus project
# Install with: pip install pre-commit
# Then run: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: yarn lint
        language: system
        files: \.(js|jsx|ts|tsx|mdx)$
        pass_filenames: false
        always_run: false

  # CSS linting
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: yarn lint:css
        language: system
        files: \.(css|scss|sass|less)$
        pass_filenames: false
        always_run: false

  # Code formatting with Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: yarn format
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$
        pass_filenames: false
        always_run: false

  # Security scanning
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        entry: python -m detect_secrets scan --baseline .secrets.baseline
        language: system
        files: \.(js|jsx|ts|tsx|py|yaml|yml|json)$
        pass_filenames: false
        always_run: false
        exclude: ^(yarn\.lock|package-lock\.json)$

  # Docusaurus specific checks
  - repo: local
    hooks:
      - id: docusaurus-build-check
        name: Docusaurus build check
        entry: yarn build
        language: system
        files: \.(js|jsx|ts|tsx|mdx|json)$
        pass_filenames: false
        always_run: false
        stages: [pre-push]

# Exclude patterns
exclude: |
  (?x)^(
    \.git/.*|
    node_modules/.*|
    build/.*|
    dist/.*|
    \.docusaurus/.*|
    yarn\.lock|
    package-lock\.json|
    \.secrets\.baseline
  )$

Update create-integration-provider.mdx
  docs/reference-docs/api/integrations/create-integration-provider.mdx
Due: eslint, prettier, docusaurus-build-check

Docs: emphasize AI/agent orchestration and clarity
  docs/core-concepts.mdx
  docs/get-orkes-conductor.mdx
  docs/getting-started/introduction.mdx
Due: eslint, prettier, docusaurus-build-check

Clarify Discourse API Username docs
  docs/integrations/connected-apps/project-management/discourse.mdx
  static/img/discourse-integration.png
Due: eslint, prettier, docusaurus-build-check

Update quickstart docs, examples, and add Clojure
  docs/getting-started/quickstart-1.mdx
  docs/getting-started/quickstart-2.mdx
  docs/getting-started/quickstart-index.mdx
Due: eslint, prettier, docusaurus-build-check

Update quickstart-2.mdx
  docs/getting-started/quickstart-2.mdx
Due: eslint, prettier, docusaurus-build-check

Update quickstart guide with improved content and multi-language examples
  docs/getting-started/quickstart-1.mdx
  docs/getting-started/quickstart-2.mdx
  docs/getting-started/quickstart-3.mdx
  docs/getting-started/quickstart-index.mdx
Due: eslint, prettier, docusaurus-build-check

Fix quickstart-1 language links to point to /quickstarts path
  docs/getting-started/quickstart-1.mdx
Due: eslint, prettier, docusaurus-build-check

Add language tabs and polish quickstart docs
  docs/getting-started/quickstart-1.mdx
  docs/getting-started/quickstart-2.mdx
  docs/getting-started/quickstart-3.mdx
  docs/getting-started/quickstart-index.mdx
Due: eslint, prettier, docusaurus-build-check

Point quickstarts to awesome-conductor-apps repo
  docs/getting-started/quickstart-1.mdx
  docs/getting-started/quickstart-2.mdx
Due: eslint, prettier, docusaurus-build-check

Revise quickstart docs links and permission steps
  docs/getting-started/quickstart-1.mdx
  docs/getting-started/quickstart-2.mdx
  docs/getting-started/quickstart-3.mdx
  docs/getting-started/quickstart-index.mdx
Due: eslint, prettier, docusaurus-build-check

docs(home): improve tagline and card copy for clarity and faster orientation
  docs/what-is-orkes-conductor.mdx
Due: eslint, prettier, docusaurus-build-check

docs(home): expand platform concepts section and improve accordion copy
  src/components/_Sections.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(home): correct access control link path
  src/components/_Sections.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(home): correct error handling link path
  src/components/_Sections.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update llms.txt
  static/llms.txt
Due: none

Migrate Agentspan docs and examples
  docs/developer-guides/agentspan/concepts/agents.mdx
  docs/developer-guides/agentspan/concepts/guardrails.mdx
  docs/developer-guides/agentspan/concepts/memory.mdx
  docs/developer-guides/agentspan/concepts/multi-agent.mdx
  docs/developer-guides/agentspan/concepts/plan-execute.mdx
  docs/developer-guides/agentspan/concepts/scheduling.mdx
  docs/developer-guides/agentspan/concepts/skills.mdx
  docs/developer-guides/agentspan/concepts/streaming.mdx
  docs/developer-guides/agentspan/concepts/testing.mdx
  docs/developer-guides/agentspan/concepts/tools.mdx
  docs/developer-guides/agentspan/examples/crash-resume.mdx
  docs/developer-guides/agentspan/examples/document-processor.mdx
  docs/developer-guides/agentspan/examples/google-adk.mdx
  docs/developer-guides/agentspan/examples/human-in-the-loop.mdx
  docs/developer-guides/agentspan/examples/langgraph.mdx
  docs/developer-guides/agentspan/examples/openai-agents-sdk.mdx
  docs/developer-guides/agentspan/examples/research-pipeline.mdx
  docs/developer-guides/agentspan/examples/support-triage.mdx
  docs/developer-guides/agentspan/overview.mdx
  docs/developer-guides/agentspan/quickstart.mdx
  docs/developer-guides/agentspan/reference/ai-models.mdx
  docs/developer-guides/agentspan/reference/cli.mdx
  docs/developer-guides/agentspan/reference/deployment.mdx
  docs/developer-guides/agentspan/reference/integrations.mdx
  docs/developer-guides/agentspan/reference/providers.mdx
  docs/developer-guides/agentspan/reference/self-hosting.mdx
  docs/developer-guides/agentspan/reference/worker-types.mdx
  docs/developer-guides/agentspan/why-agentspan.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Updates
  docs/developer-guides/build-workflows-using-conductor-ui.mdx
  docs/developer-guides/convert-bpmn-to-workflows.mdx
  docs/developer-guides/workflows.mdx
  docs/developer-guides/write-workflows-using-code.mdx
Due: eslint, prettier, docusaurus-build-check

Update event-handler.mdx
  docs/developer-guides/event-handler.mdx
Due: eslint, prettier, docusaurus-build-check

Improve frontmatter descriptions across docs
  docs/conceptual-guides/architecture.mdx
  docs/conceptual-guides/workflow-and-task-status.mdx
  docs/developer-guides/event-handler.mdx
  docs/developer-guides/workflows.mdx
  docs/getting-started/introduction.mdx
  docs/integrations/connected-apps/productivity/google-calendar.mdx
  docs/reference-docs/api/integrations/add-tags-to-integration-provider.mdx
  docs/reference-docs/api/integrations/add-tags-to-integration-resource.mdx
  docs/reference-docs/api/integrations/delete-tags-from-integration-provider.mdx
  docs/reference-docs/api/integrations/delete-tags-from-integration-resource.mdx
  docs/reference-docs/api/integrations/get-integration-resource.mdx
  docs/reference-docs/api/integrations/get-tags-from-integration-provider.mdx
  docs/reference-docs/api/integrations/get-tags-from-integration-resource.mdx
  docs/reference-docs/api/prompts/get-all-prompt-versions.mdx
  docs/reference-docs/api/prompts/get-all-prompts.mdx
  docs/reference-docs/api/prompts/get-prompt.mdx
  docs/reference-docs/api/tags/add-tag-to-a-workflow-definition.mdx
  docs/reference-docs/api/tags/replace-tags-in-a-task-definition.mdx
  docs/reference-docs/api/users/delete-user.mdx
  docs/reference-docs/api/users/get-all-users.mdx
  docs/reference-docs/api/workflow/resume-workflow.mdx
  docs/reference-docs/operators/fork-join.mdx
  docs/reference-docs/operators/terminate.mdx
  docs/reference-docs/system-tasks/event.mdx
  docs/reference-docs/system-tasks/grpc.mdx
  docs/reference-docs/system-tasks/http.mdx
  docs/reference-docs/system-tasks/sendgrid.mdx
  docs/sdks/csharp.mdx
  docs/sdks/golang.mdx
  docs/sdks/java.mdx
  docs/sdks/javascript.mdx
  docs/sdks/python.mdx
  docs/tutorials/custom-conductor-webhook-using-curl.mdx
  docs/tutorials/question-answering-with-embeddings.mdx
  docs/tutorials/sequential-http-tasks.mdx
Due: eslint, prettier, docusaurus-build-check

Add Inline task console logging docs
  docs/reference-docs/system-tasks/inline.mdx
  static/img/inline-console-log-example.png
Due: eslint, prettier, docusaurus-build-check

docs(do-while): add console logging example and image
  docs/reference-docs/operators/do-while.mdx
  static/img/do-while-console-log-example.png
Due: eslint, prettier, docusaurus-build-check

Update llms.txt with PR #1095 doc changes
  static/llms.txt
Due: none

Fix pause-workflow doc filename and link
  docs/developer-guides/sending-signals-to-workflows.mdx
  docs/reference-docs/api/workflow/pause-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

updates
  docs/reference-docs/system-tasks/opsgenie.mdx
  static/llms.txt
Due: eslint, prettier, docusaurus-build-check

updates
  docs/developer-guides/sending-signals-to-workflows.mdx
  docs/developer-guides/task-to-domain.mdx
  docs/sdks/sdk-index.mdx
  docs/tutorials/keep-worker-running-until-condition-true.mdx
Due: eslint, prettier, docusaurus-build-check

updates
  docs/developer-guides/gateway/overview.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

docs: expand caching examples and update guides
  docs/developer-guides/caching-task-outputs.mdx
  docs/developer-guides/masking-parameters.mdx
  docs/developer-guides/passing-inputs-to-task-in-conductor.mdx
  docs/developer-guides/tasks-in-workflows.mdx
  static/img/cache-hit.png
  static/img/cache-miss.png
  static/img/cache-task-input-execution1.png
  static/img/cache-task-input-execution2.png
  static/img/cache-ttl-execution1.png
  static/img/cache-ttl-execution2.png
  static/img/cache-ttl-execution3.png
  static/img/cache-variable-execution1.png
  static/img/cache-variable-execution2.png
  static/img/cache-workflow-input-execution1.png
  static/img/cache-workflow-input-execution2.png
  static/img/env-variable-stored-as-json.png
Due: eslint, prettier, docusaurus-build-check

Update schema-validation.mdx
  docs/developer-guides/schema-validation.mdx
Due: eslint, prettier, docusaurus-build-check

docs: refine developer guides and update sidebar
  docs/developer-guides/error-handling.mdx
  docs/developer-guides/idempotency.mdx
  docs/developer-guides/rate-limits.mdx
  docs/developer-guides/secrets-in-conductor.mdx
  docs/developer-guides/using-environment-variables.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update llms.txt with PR #1097 doc changes
  static/llms.txt
Due: none

Update Slack integration docs links & wording
  docs/integrations/connected-apps/productivity/slack-operations.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
Due: eslint, prettier, docusaurus-build-check

Add links and copy fixes to GitHub docs
  docs/integrations/connected-apps/source-control/github-operations.mdx
  docs/integrations/connected-apps/source-control/github.mdx
Due: eslint, prettier, docusaurus-build-check

Add Jira integration docs and sidebar
  docs/integrations/connected-apps/productivity/slack.mdx
  docs/integrations/connected-apps/project-management/jira-operations.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
  docs/integrations/connected-apps/source-control/github.mdx
  sidebars.js
  static/img/jira-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Azure Storage integration docs
  docs/integrations/connected-apps/cloud/azure-storage-operations.mdx
  docs/integrations/connected-apps/cloud/azure-storage.mdx
  sidebars.js
  static/img/azure-storage-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Azure Functions integration docs and sidebar
  docs/integrations/connected-apps/cloud/azure-functions-operations.mdx
  docs/integrations/connected-apps/cloud/azure-functions.mdx
  sidebars.js
  static/img/azure-functions-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Google Cloud Storage integration docs
  docs/integrations/connected-apps/cloud/google-cloud-storage-operations.mdx
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
  sidebars.js
  static/img/google-cloud-storage-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Google Cloud Functions integration docs
  docs/integrations/connected-apps/cloud/google-cloud-functions-operations.mdx
  docs/integrations/connected-apps/cloud/google-cloud-functions.mdx
  sidebars.js
  static/img/google-cloud-functions-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check
