Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Rename enterprise nav group to Enterprise and style it with the Orkes accent
  scripts/generate-mkdocs-site.js
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Retire Agentspan naming: legacy glossary pointer, rename-free positioning, drop dead injections
  docs/agentic-workflow-engine.mdx
  docs/getting-started/introduction.mdx
  docs/glossary.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Frame Platform tab self-hosting content for the managed product
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Correct Orkes Conductor deployment framing: managed cloud or your own environment
  docs/agentic-workflow-engine.mdx
  docs/getting-started/introduction.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Mirror Send Signals move to Workflows Run group
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Keep Enterprise sidebar section only in Getting Started
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add new AI task docs: Search Embeddings, Generate Image/Audio/Video/PDF, MCP tool calling
  docs/reference-docs/ai-tasks/call-mcp-tool.mdx
  docs/reference-docs/ai-tasks/chunk-text.mdx
  docs/reference-docs/ai-tasks/generate-audio.mdx
  docs/reference-docs/ai-tasks/generate-image.mdx
  docs/reference-docs/ai-tasks/generate-pdf.mdx
  docs/reference-docs/ai-tasks/generate-video.mdx
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/ai-tasks/list-mcp-tools.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-get-document.mdx
  docs/reference-docs/ai-tasks/llm-index-document.mdx
  docs/reference-docs/ai-tasks/llm-index-text.mdx
  docs/reference-docs/ai-tasks/llm-search-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-search-index.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  docs/reference-docs/system-tasks/index.mdx
Due: eslint, prettier, docusaurus-build-check

refactor(footer): update docs footer social icons to circular badges
  deploy/SETUP-s3-cloudfront.md
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Gateway API reference docs
  docs/reference-docs/api/gateway/create-auth-config-for-gateway.mdx
  docs/reference-docs/api/gateway/create-gateway-service.mdx
  docs/reference-docs/api/gateway/delete-auth-config-for-gateway.mdx
  docs/reference-docs/api/gateway/delete-gateway-service.mdx
  docs/reference-docs/api/gateway/get-all-auth-config-for-gateway.mdx
  docs/reference-docs/api/gateway/get-all-gateway-service.mdx
  docs/reference-docs/api/gateway/get-auth-config-for-gateway.mdx
  docs/reference-docs/api/gateway/get-gateway-service.mdx
  docs/reference-docs/api/gateway/update-auth-config-for-gateway.mdx
  docs/reference-docs/api/gateway/update-gateway-service.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Document event handler permissions and execution identity
  docs/developer-guides/event-handler.mdx
Due: eslint, prettier, docusaurus-build-check

Rename Framework Agent Bridges nav label to Framework Agents
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Swap home Self-hosting card for Install Orkes Conductor on enterprise
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Tighten Install Orkes Conductor card copy
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Restore Workflow and Task Status page and remap OSS status-events route
  docs/conceptual-guides/workflow-and-task-status.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Retitle ops callout to Open-source Conductor
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Scope open-source-only sections and drop OSS-internal pages from the Orkes build
  docs-redirects.json
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Correct and simplify stop sequence documentation
  docs/developer-guides/using-ai-prompts.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
Due: eslint, prettier, docusaurus-build-check

Restore Human Task Orchestration guide
  docs-redirects.json
  docs/developer-guides/orchestrating-human-tasks.mdx
  docs/reference-docs/operators/human.mdx
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Exclude OSS human-task.md from the orphan-page sweep
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Restore sync-execution and signal API pages and correct consistency and returnStrategy docs
  docs-redirects.json
  docs/reference-docs/api/task/signal-running-task-asynchronously.mdx
  docs/reference-docs/api/task/signal-running-task-synchronously.mdx
  docs/reference-docs/api/workflow/synchronous-workflow-execution.mdx
  docs/reference-docs/operators/yield.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Repoint OSS docs source from agent_docs to main
  shared-docs.lock.yml
Due: prettier, detect-secrets

Mark externalInputPayloadStoragePath as OSS-only on the start-workflow API page
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix audit log ROLE gap, event handler list rendering, and expand inputTemplate docs
  docs/access-control-and-security/audit-logs.mdx
  docs/developer-guides/event-handler.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Docs: enablement notes for Executions > Task, Connected Apps, and audit logs; audit API reference
  docs/access-control-and-security/audit-logs.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Document matchedRows output for Business Rule task
  docs/reference-docs/system-tasks/business-rule.mdx
Due: eslint, prettier, docusaurus-build-check

Document compressionCodec input field for gRPC task
  docs/reference-docs/system-tasks/grpc.mdx
Due: eslint, prettier, docusaurus-build-check

Document 500 response for Delete Application
  docs/reference-docs/api/applications/delete-application.mdx
Due: eslint, prettier, docusaurus-build-check

Document implicit READ for List Accessible Secrets, fix stray brackets
  docs/reference-docs/api/secrets/list-accessible-secrets.mdx
Due: eslint, prettier, docusaurus-build-check

Doc sweep based on v5.5.2 - v5.5.5
  docs/access-control-and-security/applications.mdx
  docs/access-control-and-security/rbac-overview.mdx
  docs/access-control-and-security/users-and-groups.mdx
  docs/reference-docs/api/task/signal-running-task-synchronously.mdx
  docs/reference-docs/api/workflow/start-workflow-execution.mdx
  docs/reference-docs/api/workflow/synchronous-workflow-execution.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

docs(rbac): correct RBAC role version tags to v5.5.5
  docs/access-control-and-security/rbac-overview.mdx
Due: eslint, prettier, docusaurus-build-check

doc updates based latest prod updates
  docs/developer-guides/orchestrating-human-tasks.mdx
  docs/developer-guides/remote-services.mdx
Due: eslint, prettier, docusaurus-build-check

docs(azure-service-bus): document consuming from a topic subscription
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

docs(azure-service-bus): tighten the queue/topic addressing section
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

Remove OSS-only task docs and clarify local Docker setup requirements
  docs-redirects.json
  docs/get-orkes-conductor.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix
  docs-redirects.json
Due: prettier, detect-secrets, docusaurus-build-check

docs(azure-service-bus): say how a handler that cannot attach shows up
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

Add redirects for stale orkes.io/content URLs
  docs-redirects.json
Due: prettier, detect-secrets, docusaurus-build-check

Remove outdated tutorial pages
  docs/tutorials/api-processing-usps-example.mdx
  docs/tutorials/availability-monitoring-for-http-endpoints.mdx
  docs/tutorials/keep-worker-running-until-condition-true.mdx
  docs/tutorials/rotating-secrets-that-expire.mdx
  docs/tutorials/sequential-http-tasks.mdx
Due: eslint, prettier, docusaurus-build-check

Fix 3 broken-redirect cases found in a live 404 audit
  docs-redirects.json
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update Worker Task, Task Reference, Operators, Terminate Workflow, Get Workflow, and Yield docs
  docs/reference-docs/ai-tasks/chunk-text.mdx
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-get-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-index-document.mdx
  docs/reference-docs/ai-tasks/llm-index-text.mdx
  docs/reference-docs/ai-tasks/llm-search-index.mdx
  docs/reference-docs/ai-tasks/llm-store-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  docs/reference-docs/operators/get-workflow.mdx
  docs/reference-docs/operators/human.mdx
  docs/reference-docs/operators/index.mdx
  docs/reference-docs/operators/terminate-workflow.mdx
  docs/reference-docs/operators/yield.mdx
  docs/reference-docs/system-tasks/business-rule.mdx
  docs/reference-docs/system-tasks/get-signed-jwt.mdx
  docs/reference-docs/system-tasks/http-poll.mdx
  docs/reference-docs/system-tasks/sendgrid.mdx
  docs/reference-docs/system-tasks/update-secret.mdx
  docs/reference-docs/system-tasks/update-task.mdx
  docs/reference-docs/system-tasks/wait-for-webhook.mdx
  docs/reference-docs/worker-task.mdx
  scripts/generate-mkdocs-site.js
  static/img/yield-example-workflow-execution.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

