Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Docusaurus project
# Install with: pip install pre-commit
# Then run: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: yarn lint
        language: system
        files: \.(js|jsx|ts|tsx|mdx)$
        pass_filenames: false
        always_run: false

  # CSS linting
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: yarn lint:css
        language: system
        files: \.(css|scss|sass|less)$
        pass_filenames: false
        always_run: false

  # Code formatting with Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: yarn format
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$
        pass_filenames: false
        always_run: false

  # Security scanning
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        entry: python -m detect_secrets scan --baseline .secrets.baseline
        language: system
        files: \.(js|jsx|ts|tsx|py|yaml|yml|json)$
        pass_filenames: false
        always_run: false
        exclude: ^(yarn\.lock|package-lock\.json)$

  # Docusaurus specific checks
  - repo: local
    hooks:
      - id: docusaurus-build-check
        name: Docusaurus build check
        entry: yarn build
        language: system
        files: \.(js|jsx|ts|tsx|mdx|json)$
        pass_filenames: false
        always_run: false
        stages: [pre-push]

# Exclude patterns
exclude: |
  (?x)^(
    \.git/.*|
    node_modules/.*|
    build/.*|
    dist/.*|
    \.docusaurus/.*|
    yarn\.lock|
    package-lock\.json|
    \.secrets\.baseline
  )$

Update README.md
  README.md
Due: prettier

Update Human task doc
  docs/reference-docs/operators/human.mdx
Due: eslint, prettier, docusaurus-build-check

Update HTTP Poll and Business Rule task docs
  docs/reference-docs/system-tasks/business-rule.mdx
  docs/reference-docs/system-tasks/http-poll.mdx
Due: eslint, prettier, docusaurus-build-check

Update update-secret.mdx
  docs/reference-docs/system-tasks/update-secret.mdx
Due: eslint, prettier, docusaurus-build-check

Update Update Task, Wait for Webhook, Get Signed JWT, SendGrid, and gRPC docs, restore webhook integration guide
  docs/developer-guides/idempotency.mdx
  docs/developer-guides/webhook-integration.mdx
  docs/reference-docs/system-tasks/get-signed-jwt.mdx
  docs/reference-docs/system-tasks/grpc.mdx
  docs/reference-docs/system-tasks/sendgrid.mdx
  docs/reference-docs/system-tasks/update-task.mdx
  docs/reference-docs/system-tasks/wait-for-webhook.mdx
  docs/tutorials/using-idempotency-keys-in-webhook-triggered-workflows.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
  static/img/completed-workflow-using-update-task.png
  static/img/run-workflow-update-task-example.png
  static/img/update-task-output.png
  static/img/update-task.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

docs(azure-service-bus): document consuming from a topic subscription
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

docs(azure-service-bus): say how a handler that cannot attach shows up
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

docs(azure-service-bus): tighten the queue/topic addressing section
  docs/integrations/message-broker/azure-service-bus.mdx
Due: eslint, prettier, docusaurus-build-check

Update Opsgenie and Query Processor docs
  docs/reference-docs/operators/human.mdx
  docs/reference-docs/system-tasks/grpc.mdx
  docs/reference-docs/system-tasks/opsgenie.mdx
  docs/reference-docs/system-tasks/query-processor.mdx
  docs/reference-docs/system-tasks/sendgrid.mdx
Due: eslint, prettier, docusaurus-build-check

Update llm-text-complete.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
Due: eslint, prettier, docusaurus-build-check

docs(rbac): update Human Task Manager role description for v5.5.6
  docs/access-control-and-security/applications.mdx
  docs/access-control-and-security/rbac-overview.mdx
  docs/access-control-and-security/users-and-groups.mdx
Due: eslint, prettier, docusaurus-build-check

Fix meta titles and broken redirect
  docs-redirects.json
  docs/developer-guides/gateway/mcp-gateway.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update LLM embeddings task docs
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-search-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-store-embeddings.mdx
Due: eslint, prettier, docusaurus-build-check

security: harden HTML tag-stripping in build scripts (CodeQL)
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

security: permissive script/style end tags + decode-first in audit (CodeQL)
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

ci: deploy docs from main (non-prod + prod + pages)
  .github/workflows/deploy-docs-prod-s3.yml
  .github/workflows/deploy-docs-s3.yml
  .github/workflows/pages.yml
Due: prettier, detect-secrets

docs: refresh deploy comments + SETUP for main-branch cutover
  .github/workflows/deploy-docs-prod-s3.yml
  .github/workflows/deploy-docs-s3.yml
  deploy/SETUP-s3-cloudfront.md
Due: prettier, detect-secrets

Using the Conductor AI Assistant
  docs/developer-guides/ai-assistant.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update LLM Get Embeddings, AI Assistant, LLM Index Document, Get Document, LLM Index Text, and LLM Search Index docs
  docs/developer-guides/ai-assistant.mdx
  docs/reference-docs/ai-tasks/llm-get-document.mdx
  docs/reference-docs/ai-tasks/llm-get-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-index-document.mdx
  docs/reference-docs/ai-tasks/llm-index-text.mdx
  docs/reference-docs/ai-tasks/llm-search-index.mdx
Due: eslint, prettier, docusaurus-build-check

Update llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
Due: eslint, prettier, docusaurus-build-check

Update Chunk Text, List Files, and Parse Document docs
  docs/reference-docs/ai-tasks/chunk-text.mdx
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  static/img/list-file-task-output.png
  static/img/list-files-aws-output.png
  static/img/list-files-from-private-git-output.png
  static/img/output-location-s3.png
  static/img/replace-aws-git-credentials.png
  static/img/replace-github-credentials.png
Due: eslint, prettier, docusaurus-build-check

redirect a stale oss merged duplicate page
  docs-redirects.json
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add clear demo links to Orkes documentation
  scripts/generate-mkdocs-site.js
  scripts/templates/demo-cta.html
  scripts/test-demo-cta.cjs
  static/css/demo-cta.css
  static/js/demo-cta.js
Due: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check
