Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Update start-workflow-execution.mdx
  docs/reference-docs/api/workflow/start-workflow-execution.mdx
Due: eslint, prettier, docusaurus-build-check

Sync execution
  docs/reference-docs/api/workflow/start-workflow-execution.mdx
  docs/reference-docs/api/workflow/synchronous-workflow-execution.mdx
Due: eslint, prettier, docusaurus-build-check

Sync execution
  docs/reference-docs/api/workflow/start-workflow-execution.mdx
Due: eslint, prettier, docusaurus-build-check

Update get-workflow-by-id.mdx
  docs/reference-docs/api/workflow/get-workflow-by-id.mdx
Due: eslint, prettier, docusaurus-build-check

get-workflows-by-correlation-id.mdx
  docs/reference-docs/api/workflow/get-workflow-by-id.mdx
  docs/reference-docs/api/workflow/get-workflows-by-correlation-id.mdx
Due: eslint, prettier, docusaurus-build-check

Update update-variable.mdx
  docs/reference-docs/api/workflow/update-variable.mdx
Due: eslint, prettier, docusaurus-build-check

Update upgrade-workflow.mdx
  docs/reference-docs/api/workflow/upgrade-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

Workflow APIs
  docs/reference-docs/api/workflow/delete-workflow.mdx
  docs/reference-docs/api/workflow/pause-worflow.mdx
  docs/reference-docs/api/workflow/rerun-workflow.mdx
  docs/reference-docs/api/workflow/restart-workflow.mdx
  docs/reference-docs/api/workflow/resume-workflow.mdx
  docs/reference-docs/api/workflow/retry-failed-workflow.mdx
  docs/reference-docs/api/workflow/search-workflow-executions.mdx
  docs/reference-docs/api/workflow/skip-task-from-workflow.mdx
  docs/reference-docs/api/workflow/terminate-workflow.mdx
  docs/reference-docs/api/workflow/test-workflow.mdx
  docs/reference-docs/api/workflow/update-variable.mdx
  docs/reference-docs/api/workflow/upgrade-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

Update skip-task-from-workflow.mdx
  docs/reference-docs/api/workflow/skip-task-from-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

Update rerun-workflow.mdx
  docs/reference-docs/api/workflow/rerun-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

New API doc - Create Schema
  docs/reference-docs/api/schema/create-schema.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Create get-all-schemas.mdx
  docs/reference-docs/api/schema/get-all-schemas.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-schema-by-name.mdx
  docs/reference-docs/api/schema/get-schema-by-name.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-schema-by-name-and-version.mdx
  docs/reference-docs/api/schema/get-schema-by-name-and-version.mdx
Due: eslint, prettier, docusaurus-build-check

Create delete-schema.mdx
  docs/reference-docs/api/schema/delete-schema.mdx
Due: eslint, prettier, docusaurus-build-check

Create delete-schema-version.mdx
  docs/reference-docs/api/schema/delete-schema-version.mdx
Due: eslint, prettier, docusaurus-build-check

New API docs: Env Variables
  docs/reference-docs/api/environment-variables/add-tags-to-environment-varible.mdx
  docs/reference-docs/api/environment-variables/create-environment-variable.mdx
  docs/reference-docs/api/environment-variables/delete-environment-variable.mdx
  docs/reference-docs/api/environment-variables/delete-tags-from-environment-variable.mdx
  docs/reference-docs/api/environment-variables/get-all-environment-variables.mdx
  docs/reference-docs/api/environment-variables/get-environment-value-by-key.mdx
  docs/reference-docs/api/environment-variables/get-tags-from-environment-variable.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Remove tracking services: Apollo, Termly, and Vimeo player
  docusaurus.config.js
  static/js/apollo.js
  static/js/cookie-consent.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Applications API reference docs
  docs/reference-docs/api/applications/assign-role-to-application.mdx
  docs/reference-docs/api/applications/create-application-access-key.mdx
  docs/reference-docs/api/applications/create-application.mdx
  docs/reference-docs/api/applications/toggle-access-key-status.mdx
  docs/reference-docs/api/applications/update-application.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Create delete-access-key.mdx
  docs/reference-docs/api/applications/delete-access-key.mdx
Due: eslint, prettier, docusaurus-build-check

Create remove-application-role.mdx
  docs/reference-docs/api/applications/remove-application-role.mdx
Due: eslint, prettier, docusaurus-build-check

Create delete-application.mdx
  docs/reference-docs/api/applications/delete-application.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-all-applications.mdx
  docs/reference-docs/api/applications/get-all-applications.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-application-access-keys.mdx
  docs/reference-docs/api/applications/get-application-access-keys.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-application-by-id.mdx
  docs/reference-docs/api/applications/get-application-by-id.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-application-id-using-access-key.mdx
  docs/reference-docs/api/applications/get-application-id-using-access-key.mdx
Due: eslint, prettier, docusaurus-build-check

Create get-application-tags.mdx
  docs/reference-docs/api/applications/get-application-tags.mdx
Due: eslint, prettier, docusaurus-build-check

Create add-tag-to-application.mdx
  docs/reference-docs/api/applications/add-tag-to-application.mdx
Due: eslint, prettier, docusaurus-build-check

Create delete-tag-application.mdx
  docs/reference-docs/api/applications/delete-tag-application.mdx
Due: eslint, prettier, docusaurus-build-check

Add Secrets API docs and sidebar
  docs/reference-docs/api/secrets/add-tags-to-secret.mdx
  docs/reference-docs/api/secrets/check-secret-exists.mdx
  docs/reference-docs/api/secrets/create-secret.mdx
  docs/reference-docs/api/secrets/delete-secret.mdx
  docs/reference-docs/api/secrets/delete-tags-from-secret.mdx
  docs/reference-docs/api/secrets/get-secret-value.mdx
  docs/reference-docs/api/secrets/get-tags-from-secret.mdx
  docs/reference-docs/api/secrets/list-accessible-secrets.mdx
  docs/reference-docs/api/secrets/list-all-secrets.mdx
  docs/reference-docs/api/secrets/list-secrets-with-tags.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Groups API reference docs and sidebar
  docs/reference-docs/api/groups/add-user-to-group-bulk.mdx
  docs/reference-docs/api/groups/add-user-to-group.mdx
  docs/reference-docs/api/groups/create-group.mdx
  docs/reference-docs/api/groups/delete-group.mdx
  docs/reference-docs/api/groups/get-all-groups.mdx
  docs/reference-docs/api/groups/get-all-users-in-group.mdx
  docs/reference-docs/api/groups/get-group-by-id.mdx
  docs/reference-docs/api/groups/get-group-permissions.mdx
  docs/reference-docs/api/groups/remove-user-from-group.mdx
  docs/reference-docs/api/groups/remove-users-from-group-bulk.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Users API reference docs and sidebar
  docs/reference-docs/api/users/check-user-permissions.mdx
  docs/reference-docs/api/users/create-user.mdx
  docs/reference-docs/api/users/delete-user.mdx
  docs/reference-docs/api/users/get-all-users.mdx
  docs/reference-docs/api/users/get-user-by-id.mdx
  docs/reference-docs/api/users/get-user-permissions.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update delete-schema.mdx
  docs/reference-docs/api/schema/delete-schema.mdx
Due: eslint, prettier, docusaurus-build-check

Update schedule docs order; add bulk pause/resume
  docs/reference-docs/api/schedule/add-tags-to-schedule.mdx
  docs/reference-docs/api/schedule/delete-schedule.mdx
  docs/reference-docs/api/schedule/delete-tags-from-schedule.mdx
  docs/reference-docs/api/schedule/get-all-schedules.mdx
  docs/reference-docs/api/schedule/get-nex-few-schedules.mdx
  docs/reference-docs/api/schedule/get-schedules-using-tags.mdx
  docs/reference-docs/api/schedule/get-tags-from-schedule.mdx
  docs/reference-docs/api/schedule/pause-schedule-bulk.mdx
  docs/reference-docs/api/schedule/resume-schedule-bulk.mdx
  docs/reference-docs/api/schedule/search-schedule-definitions.mdx
Due: eslint, prettier, docusaurus-build-check

Update google-gemini-ai.mdx
  docs/integrations/ai-llm/google-gemini-ai.mdx
Due: eslint, prettier, docusaurus-build-check

docs: update sub-workflow image and renumber steps
  docs/reference-docs/operators/sub-workflow.mdx
  docs/tutorials/document-approvals.mdx
  docs/tutorials/incoming-webhook-using-postman.mdx
  docs/tutorials/ticket-service-tutorial.mdx
Due: eslint, prettier, docusaurus-build-check

Create llms.txt
  static/content/llms.txt
Due: none

Update llms.txt
  static/content/llms.txt
Due: none

Simplify documentation header in llms.txt
  static/llms.txt
Due: none

formatting fixes
  static/llms.txt
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

