Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Reorganize Guides/AI Agents nav, restore Build Workflows Using UI page
  .claude/launch.json
  docs/developer-guides/ai-orchestration.mdx
  docs/developer-guides/build-workflows-using-conductor-ui.mdx
  docs/developer-guides/conductor-skills.mdx
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

ci(docs): auto-deploy docs_site_revamp to S3 + invalidate CloudFront /content/*
  .github/workflows/deploy-docs-s3.yml
  deploy/SETUP-s3-cloudfront.md
  deploy/cloudfront-content-clean-urls.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(docs): raise llms.txt audit cap to 100KB (scales with page count)
  scripts/audit-docs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Move Wait for Webhook and Event task out of Event Orchestration nav
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Convert Event-Driven Orchestration category pages to dedicated docs
  docs/event-driven-orchestration/index.mdx
  docs/event-driven-orchestration/publish-events.mdx
  docs/event-driven-orchestration/receive-events.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fork why-conductor into an Orkes-owned doc, fix stale AI-task content
  docs/ai-cookbook/why-conductor.mdx
  docs/reference-docs/system-tasks/index.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix broken internal link to why-conductor.md from OSS-shared pages
  shared-docs-map.json
Due: prettier, detect-secrets, docusaurus-build-check

Fix stale vector-DB list and Wait for webhook row in ai-orchestration.mdx
  docs/developer-guides/ai-orchestration.mdx
Due: eslint, prettier, docusaurus-build-check

Fix why-conductor.md alias key to match actual link resolution path
  shared-docs-map.json
Due: prettier, detect-secrets, docusaurus-build-check

Fork ai-llm-recipes into an Orkes-owned doc, remove fabricated recipes
  docs/ai-cookbook/ai-llm-recipes.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fork llm-orchestration into an Orkes-owned doc; restore verified content
  docs/ai-cookbook/ai-llm-recipes.mdx
  docs/ai-cookbook/llm-orchestration.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fork production-agent-architecture into an Orkes-owned doc, fix bugs
  docs/ai-cookbook/production-agent-architecture.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fork and fix remaining AI cookbook pages; rename Production Agents URLs
  docs/agentic-workflow-engine.mdx
  docs/ai-cookbook/durable-agents.mdx
  docs/ai-cookbook/dynamic-workflows.mdx
  docs/ai-cookbook/failure-semantics.mdx
  docs/ai-cookbook/human-in-the-loop.mdx
  docs/ai-cookbook/llm-orchestration.mdx
  docs/ai-cookbook/production-agent-architecture.mdx
  docs/ai-cookbook/token-efficiency.mdx
  docs/ai-cookbook/why-conductor.mdx
  docs/developer-guides/ai-orchestration.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fixes
  docs/event-driven-orchestration/index.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update sidebars.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fixes
  docs/conceptual-guides/architecture.mdx
  docs/developer-guides/caching-task-outputs.mdx
  docs/developer-guides/convert-bpmn-to-workflows.mdx
  docs/developer-guides/error-handling.mdx
  docs/developer-guides/event-handler.mdx
  docs/developer-guides/idempotency.mdx
  docs/developer-guides/metrics-and-observability.mdx
  docs/developer-guides/passing-inputs-to-task-in-conductor.mdx
  docs/developer-guides/remote-services.mdx
  docs/developer-guides/secrets-in-conductor.mdx
  docs/developer-guides/tasks-in-workflows.mdx
  docs/integrations/ai-llm/google-gemini-ai.mdx
  docs/reference-docs/api/authorization/list-grants-for-subject.mdx
  docs/reference-docs/api/authorization/revoke-grants-for-subject.mdx
  docs/reference-docs/api/integrations/create-integration-provider.mdx
  docs/reference-docs/api/remote-services/clone-service.mdx
  docs/reference-docs/api/secrets/list-accessible-secrets.mdx
  docs/reference-docs/api/workflow/get-workflow-size.mdx
  docs/reference-docs/operators/do-while.mdx
  docs/reference-docs/system-tasks/business-rule.mdx
  docs/reference-docs/system-tasks/inline.mdx
  docs/reference-docs/system-tasks/opsgenie.mdx
  static/img/cache-hit.png
  static/img/cache-miss.png
  static/img/cache-task-input-execution1.png
  static/img/cache-task-input-execution2.png
  static/img/cache-ttl-execution1.png
  static/img/cache-ttl-execution2.png
  static/img/cache-ttl-execution3.png
  static/img/cache-variable-execution1.png
  static/img/cache-variable-execution2.png
  static/img/cache-workflow-input-execution1.png
  static/img/cache-workflow-input-execution2.png
Due: eslint, prettier, docusaurus-build-check

more
  docs/conceptual-guides/architecture.mdx
  docs/developer-guides/caching-task-outputs.mdx
  docs/developer-guides/convert-bpmn-to-workflows.mdx
  docs/developer-guides/error-handling.mdx
  docs/developer-guides/event-handler.mdx
  docs/developer-guides/idempotency.mdx
  docs/developer-guides/passing-inputs-to-task-in-conductor.mdx
  docs/developer-guides/secrets-in-conductor.mdx
  docs/developer-guides/tasks-in-workflows.mdx
Due: eslint, prettier, docusaurus-build-check

minor
  docs/quickstart/tasks.mdx
  docs/reference-docs/system-tasks/index.mdx
Due: eslint, prettier, docusaurus-build-check

Update running-workflows-in-ui.mdx
  docs/developer-guides/running-workflows-in-ui.mdx
Due: eslint, prettier, docusaurus-build-check

Fix alt text with literal > breaking docs audit regex
  docs/developer-guides/running-workflows-in-ui.mdx
Due: eslint, prettier, docusaurus-build-check

Add first-ai-agent tutorial using the Orkes Agent SDK
  docs/ai-cookbook/first-ai-agent.mdx
  docs/developer-guides/ai-orchestration.mdx
  shared-docs-map.json
  static/img/agent-execution.png
  static/img/workflow-under-hood.gif
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fixes
  docs/ai-cookbook/first-ai-agent.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Sync missing generated files in mkdocs_content
  mkdocs_content/ai-agents/durable-agents.md
  mkdocs_content/ai-agents/dynamic-workflows.md
  mkdocs_content/ai-agents/failure-semantics.md
  mkdocs_content/ai-agents/first-ai-agent.md
  mkdocs_content/ai-agents/human-in-the-loop.md
  mkdocs_content/ai-agents/production-agent-architecture.md
  mkdocs_content/ai-agents/token-efficiency.md
  mkdocs_content/conductor-skills.md
  mkdocs_content/cookbook/microservice-orchestration.md
  mkdocs_content/img/agent-execution.png
  mkdocs_content/img/cache-hit.png
  mkdocs_content/img/cache-miss.png
  mkdocs_content/img/cache-task-input-execution1.png
  mkdocs_content/img/cache-task-input-execution2.png
  mkdocs_content/img/cache-ttl-execution1.png
  mkdocs_content/img/cache-ttl-execution2.png
  mkdocs_content/img/cache-ttl-execution3.png
  mkdocs_content/img/cache-variable-execution1.png
  mkdocs_content/img/cache-variable-execution2.png
  mkdocs_content/img/cache-workflow-input-execution1.png
  mkdocs_content/img/cache-workflow-input-execution2.png
  mkdocs_content/img/workflow-under-hood.gif
  mkdocs_content/why-conductor-for-ai-agents.md
Due: prettier

content check on Quickstarts
  docs/conceptual-guides/architecture.mdx
  docs/get-orkes-conductor.mdx
  docs/getting-started/quickstart-index.mdx
  docs/quickstart/concepts.mdx
  docs/quickstart/durable-execution.mdx
  docs/quickstart/json-code-native.mdx
  docs/quickstart/task-lifecycle.mdx
  docs/quickstart/tasks.mdx
  docs/quickstart/workers.mdx
  docs/quickstart/workflows.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Content check for Workflow section in Guides
  docs/developer-guides/convert-bpmn-to-workflows.mdx
  docs/developer-guides/debugging-workflows.mdx
  docs/developer-guides/error-handling.mdx
  docs/developer-guides/integration-with-cicd.mdx
  docs/developer-guides/metrics-and-observability.mdx
  docs/developer-guides/scheduling-workflows.mdx
  docs/developer-guides/schema-validation.mdx
  docs/developer-guides/secrets-in-conductor.mdx
  docs/developer-guides/sending-signals-to-workflows.mdx
  docs/developer-guides/unit-and-regression-tests.mdx
  docs/developer-guides/using-environment-variables.mdx
  docs/developer-guides/versioning-workflows.mdx
  docs/developer-guides/workflows.mdx
  docs/developer-guides/write-workflows-using-code.mdx
Due: eslint, prettier, docusaurus-build-check

Content check for Task section in Guides
  docs/developer-guides/caching-task-outputs.mdx
  docs/developer-guides/masking-parameters.mdx
  docs/developer-guides/passing-inputs-to-task-in-conductor.mdx
  docs/developer-guides/rate-limits.mdx
  docs/developer-guides/scaling-workers.mdx
  docs/developer-guides/task-input-templates.mdx
  docs/developer-guides/task-to-domain.mdx
  docs/developer-guides/tasks-in-workflows.mdx
  docs/developer-guides/using-workers.mdx
Due: eslint, prettier, docusaurus-build-check

Content check for AI/Gateway section in Guides
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
  docs/developer-guides/orchestrating-human-tasks.mdx
  docs/developer-guides/remote-services.mdx
  docs/developer-guides/task-input-templates.mdx
  docs/developer-guides/using-ai-prompts.mdx
  docs/developer-guides/using-llms-in-your-orkes-conductor-workflows.mdx
  docs/developer-guides/using-vector-databases-in-your-orkes-conductor-workflows.mdx
Due: eslint, prettier, docusaurus-build-check

Update gateway-metrics.mdx
  docs/developer-guides/gateway/gateway-metrics.mdx
Due: eslint, prettier, docusaurus-build-check

Content check for AI Cookbook and orchestration pages
  docs/ai-cookbook/ai-llm-recipes.mdx
  docs/ai-cookbook/durable-agents.mdx
  docs/ai-cookbook/dynamic-workflows.mdx
  docs/ai-cookbook/llm-orchestration.mdx
  docs/ai-cookbook/production-agent-architecture.mdx
  docs/ai-cookbook/token-efficiency.mdx
  docs/ai-cookbook/why-conductor.mdx
  docs/developer-guides/ai-orchestration.mdx
  docs/developer-guides/conductor-skills.mdx
Due: eslint, prettier, docusaurus-build-check

fixes
  docs/cookbook/event-driven.mdx
  docs/developer-guides/enabling-cdc-on-conductor-workflows.mdx
  docs/developer-guides/webhook-integration.mdx
  docs/tutorials/daily-scrum-automation-using-standup-bot.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Redesign docs home page
  mkdocs_content/css/custom.css
  mkdocs_content/index.md
Due: stylelint, prettier

Match docs home page to pixel-precise v2 design spec
  mkdocs_content/css/custom.css
  mkdocs_content/index.md
Due: stylelint, prettier

Fix homepage redesign not deploying — edit the real source, not the build artifact
  mkdocs_content/css/custom.css
  mkdocs_content/index.md
  scripts/generate-mkdocs-site.js
Due: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

Add missing durable-execution proof point to satisfy homepage audit guardrail
  mkdocs_content/index.md
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update generate-mkdocs-site.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update index.md
  mkdocs_content/index.md
Due: prettier

updates
  docs/access-control-and-security/applications.mdx
  docs/access-control-and-security/rbac-overview.mdx
  docs/access-control-and-security/tags.mdx
  docs/access-control-and-security/users-and-groups.mdx
  docs/reference-docs/operators/human.mdx
  docs/sdks/sdk-index.mdx
  docs/tutorials/document-approvals.mdx
  docs/tutorials/document-classifier.mdx
  docs/tutorials/feedback-tutorial.mdx
  docs/tutorials/finance.mdx
  docs/tutorials/fraud-dispute.mdx
  docs/tutorials/text-indexing-workflow.mdx
  docs/tutorials/ticket-service-tutorial.mdx
Due: eslint, prettier, docusaurus-build-check

.
  docs/access-control-and-security/applications.mdx
  docs/access-control-and-security/tags.mdx
  docs/access-control-and-security/users-and-groups.mdx
  docs/integrations/ai-llm/ollama.mdx
  docs/reference-docs/api/users/delete-user.mdx
Due: eslint, prettier, docusaurus-build-check

Add Home nav tab and move Security before Cookbook
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Rewrite README to reflect the actual MkDocs-based doc workflow
  README.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

