Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Add user form tags API docs
  docs/reference-docs/api/human-tasks/add-tags-to-user-form.mdx
  docs/reference-docs/api/human-tasks/delete-tags-from-a-uset-form.mdx
  docs/reference-docs/api/human-tasks/delete-task-ui-template.mdx
  docs/reference-docs/api/human-tasks/delete-user-form-version.mdx
  docs/reference-docs/api/human-tasks/get-tags-from-user-form.mdx
Due: eslint, prettier, docusaurus-build-check

Add idempotency guide and update sidebar
  docs/developer-guides/idempotency.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update sidebars.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Webhooks API docs and sidebar
  docs/reference-docs/api/webhooks/add-tags-to-webhook.mdx
  docs/reference-docs/api/webhooks/create-webhook.mdx
  docs/reference-docs/api/webhooks/delete-webhook.mdx
  docs/reference-docs/api/webhooks/get-all-webhooks.mdx
  docs/reference-docs/api/webhooks/get-tags-from-webhook.mdx
  docs/reference-docs/api/webhooks/get-webhook.mdx
  docs/reference-docs/api/webhooks/update-webhook.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update Docusaurus site navigation and footer
  docusaurus.config.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update docusaurus.config.js
  docusaurus.config.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Standardize docs frontmatter descriptions
  docs/faqs/general-faqs.mdx
  docs/glossary.mdx
  docs/sdks/clojure.mdx
  docs/sdks/csharp.mdx
  docs/sdks/golang.mdx
  docs/sdks/java.mdx
  docs/sdks/javascript.mdx
  docs/sdks/python.mdx
  docs/sdks/sdk-index.mdx
  docs/templates/agentic-research.mdx
  docs/templates/availability-monitoring-for-http-endpoints.mdx
  docs/templates/claims-workflow.mdx
  docs/tutorials/agentic-interview-app.mdx
  docs/tutorials/api-processing-usps-example.mdx
  docs/tutorials/create-workflows-using-ai-agent-claude.mdx
  docs/tutorials/custom-conductor-webhook-using-curl.mdx
  docs/tutorials/daily-scrum-automation-using-standup-bot.mdx
  docs/tutorials/document-approvals.mdx
  docs/tutorials/document-classifier.mdx
  docs/tutorials/document-retrieval.mdx
  docs/tutorials/feedback-tutorial.mdx
  docs/tutorials/finance.mdx
  docs/tutorials/fraud-dispute.mdx
  docs/tutorials/github-webhook.mdx
  docs/tutorials/incoming-webhook-using-postman.mdx
  docs/tutorials/keep-worker-running-until-condition-true.mdx
  docs/tutorials/long-running-apis.mdx
  docs/tutorials/microsoft-teams-webhook.mdx
  docs/tutorials/pull-request-summary-workflow.mdx
  docs/tutorials/question-answering-with-embeddings.mdx
  docs/tutorials/quickstart-ai-orchestration.mdx
  docs/tutorials/rotating-secrets-that-expire.mdx
  docs/tutorials/scanning-an-endpoint-and-triggering-pagerduty-alert.mdx
  docs/tutorials/sendgrid-webhook.mdx
  docs/tutorials/sequential-http-tasks.mdx
  docs/tutorials/stripe-webhook.mdx
  docs/tutorials/text-indexing-workflow.mdx
  docs/tutorials/ticket-service-tutorial.mdx
  docs/tutorials/using-idempotency-keys-in-webhook-triggered-workflows.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update index.mdx
  docs/reference-docs/api/task/task-queue/index.mdx
Due: eslint, prettier, docusaurus-build-check

Add next-run-time screenshot and tweak docs
  docs/developer-guides/scheduling-workflows.mdx
  sidebars.js
  static/img/next-run-time-for-workflow-schedule.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

docs: expand List Files task examples and images
  docs/reference-docs/ai-tasks/list-files.mdx
  static/img/list-files-aws-output.png
  static/img/list-files-from-private-git-output.png
  static/img/output-location-s3.png
  static/img/replace-aws-git-credentials.png
  static/img/replace-github-credentials.png
Due: eslint, prettier, docusaurus-build-check

Add defaultAccess field and example to group API docs
  docs/reference-docs/api/groups/create-group.mdx
Due: eslint, prettier, docusaurus-build-check

Update create-group.mdx
  docs/reference-docs/api/groups/create-group.mdx
Due: eslint, prettier, docusaurus-build-check

Reorder schedule docs and add search executions
  docs/reference-docs/api/schedule/get-all-schedules.mdx
  docs/reference-docs/api/schedule/get-nex-few-schedules.mdx
  docs/reference-docs/api/schedule/search-schedule-executions.md
Due: eslint, prettier, docusaurus-build-check

Swap Users and Applications sidebar entries
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Remote Services API docs and sidebar
  docs/reference-docs/api/remote-services/create-service.mdx
  docs/reference-docs/api/remote-services/delete-service.mdx
  docs/reference-docs/api/remote-services/get-service.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add remote services API reference docs
  docs/reference-docs/api/remote-services/discover-service-endpoints.mdx
  docs/reference-docs/api/remote-services/get-all-services.mdx
Due: eslint, prettier, docusaurus-build-check

Add docs for adding/removing service methods
  docs/reference-docs/api/remote-services/add-method-to-service.mdx
  docs/reference-docs/api/remote-services/discover-service-endpoints.mdx
  docs/reference-docs/api/remote-services/remove-method-from-service.mdx
Due: eslint, prettier, docusaurus-build-check

Add circuit breaker API docs
  docs/reference-docs/api/remote-services/close-circuit-breaker.mdx
  docs/reference-docs/api/remote-services/get-circuit-breaker-status.mdx
  docs/reference-docs/api/remote-services/open-circuit-breaker.mdx
Due: eslint, prettier, docusaurus-build-check

Add gRPC proto-file API docs
  docs/reference-docs/api/remote-services/close-circuit-breaker.mdx
  docs/reference-docs/api/remote-services/delete-proto-file.mdx
  docs/reference-docs/api/remote-services/get-all-proto-files.mdx
  docs/reference-docs/api/remote-services/get-proto-file.mdx
  docs/reference-docs/api/remote-services/open-circuit-breaker.mdx
  docs/reference-docs/api/remote-services/upload-proto-file.mdx
Due: eslint, prettier, docusaurus-build-check

Add Academy links and update resource labels
  docs/what-is-orkes-conductor.mdx
  docusaurus.config.js
  src/components/_Sections.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Test Workflow Synchronously docs
  docs/reference-docs/api/workflow/test-workflow-synchronously.mdx
  docs/reference-docs/api/workflow/test-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

Update test-workflow-synchronously.mdx
  docs/reference-docs/api/workflow/test-workflow-synchronously.mdx
Due: eslint, prettier, docusaurus-build-check

Document Wait 'yield' option for sync APIs
  docs/reference-docs/api/task/signal-running-task-synchronously.mdx
  docs/reference-docs/api/workflow/synchronous-workflow-execution.mdx
  docs/reference-docs/operators/wait.mdx
  docs/reference-docs/operators/yield.mdx
Due: eslint, prettier, docusaurus-build-check

Update signal-running-task-asynchronously.mdx
  docs/reference-docs/api/task/signal-running-task-asynchronously.mdx
Due: eslint, prettier, docusaurus-build-check

updates
  docs/reference-docs/api/task/signal-running-task-synchronously.mdx
  docs/reference-docs/api/workflow/synchronous-workflow-execution.mdx
Due: eslint, prettier, docusaurus-build-check

Add integrations API doc and sidebar entry
  docs/reference-docs/api/integrations/create-integration-provider.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fetch shared docs before Pages build
  .github/workflows/pages.yml
Due: prettier, detect-secrets

Fix shared docs fetch for CI
  scripts/fetch-oss-docs.sh
Due: none

Make shared docs fetch reliable in CI
  scripts/fetch-oss-docs.sh
Due: none

Fix GitHub Pages MIME handling for docs routes
  scripts/audit-docs-build.js
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Strengthen Conductor agent positioning
  docs/conceptual-guides/architecture.mdx
  docs/developer-guides/error-handling.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
  docs/developer-guides/idempotency.mdx
  docs/faqs/general-faqs.mdx
  docs/getting-started/introduction.mdx
  docs/glossary.mdx
  mkdocs.yml
  mkdocs_content/ai-orchestration.md
  mkdocs_content/ai-orchestration/durable-agents.md
  mkdocs_content/ai-orchestration/failure-semantics.md
  mkdocs_content/ai-orchestration/first-ai-agent.md
  mkdocs_content/ai-orchestration/mcp-integration.md
  mkdocs_content/ai-orchestration/production-agent-architecture.md
  mkdocs_content/ai-orchestration/token-efficiency.md
  mkdocs_content/ai-orchestration/why-conductor.md
  mkdocs_content/category/getting-started.md
  mkdocs_content/category/sdks.md
  mkdocs_content/conductor-architecture.md
  mkdocs_content/developer-guides/conductor-skills.md
  mkdocs_content/developer-guides/mcp-gateway.md
  mkdocs_content/error-handling.md
  mkdocs_content/faqs/general-faqs.md
  mkdocs_content/glossary.md
  mkdocs_content/idempotency.md
  mkdocs_content/index.md
  mkdocs_content/llms.txt
  mkdocs_content/quickstarts/concepts.md
  mkdocs_content/quickstarts/durable-execution.md
  mkdocs_content/sdks/csharp.md
  mkdocs_content/sdks/golang.md
  mkdocs_content/sdks/java.md
  mkdocs_content/sdks/javascript.md
  mkdocs_content/sdks/python.md
  mkdocs_content/sdks/ruby.md
  mkdocs_content/sdks/rust.md
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

