Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

eslint:
  name: ESLint
  entry: yarn lint
  language: system
  pass_filenames: false
  always_run: false

stylelint:
  name: Stylelint
  entry: yarn lint:css
  language: system
  pass_filenames: false
  always_run: false

prettier:
  name: Prettier
  entry: yarn format
  language: system
  pass_filenames: false
  always_run: false

detect-secrets:
  name: Detect Secrets
  entry: python -m detect_secrets scan --baseline .secrets.baseline
  language: system
  pass_filenames: false
  always_run: false

docusaurus-build-check:
  name: Docusaurus build check
  entry: yarn build
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

Add AWS Lambda integration docs and sidebar
  docs/integrations/connected-apps/cloud/aws-lambda-operations.mdx
  docs/integrations/connected-apps/cloud/aws-lambda.mdx
  sidebars.js
  static/img/aws-lambda-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add database integration docs and sidebar
  docs/integrations/connected-apps/database/mysql-operations.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql-operations.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis-operations.mdx
  docs/integrations/connected-apps/database/redis.mdx
  sidebars.js
  static/img/mysql-integration.png
  static/img/postgresql-integration.png
  static/img/redis-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add Stripe payment integration docs and sidebar
  docs/integrations/connected-apps/payment/stripe-operations.mdx
  docs/integrations/connected-apps/payment/stripe.mdx
  sidebars.js
  static/img/stripe-integration.png
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Link operations in Step 3 tables to their reference sections
  docs/integrations/connected-apps/cloud/aws-lambda.mdx
  docs/integrations/connected-apps/cloud/azure-functions.mdx
  docs/integrations/connected-apps/cloud/azure-storage.mdx
  docs/integrations/connected-apps/cloud/google-cloud-functions.mdx
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis.mdx
  docs/integrations/connected-apps/payment/stripe.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
Due: eslint, prettier, docusaurus-build-check

Fix wrong alt text on connected-apps screenshots and Jira table order
  docs/integrations/connected-apps/cloud/aws-lambda.mdx
  docs/integrations/connected-apps/cloud/azure-functions.mdx
  docs/integrations/connected-apps/cloud/azure-storage.mdx
  docs/integrations/connected-apps/cloud/google-cloud-functions.mdx
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis.mdx
  docs/integrations/connected-apps/payment/stripe.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
Due: eslint, prettier, docusaurus-build-check

Improve Jira docs formatting and links
  docs/integrations/connected-apps/project-management/jira-operations.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
Due: eslint, prettier, docusaurus-build-check

Improve Stripe docs formatting and links
  docs/integrations/connected-apps/payment/stripe-operations.mdx
  docs/integrations/connected-apps/payment/stripe.mdx
Due: eslint, prettier, docusaurus-build-check

Improve Azure Storage docs formatting and links
  docs/integrations/connected-apps/cloud/azure-storage-operations.mdx
  docs/integrations/connected-apps/cloud/azure-storage.mdx
  static/img/connection-string-azure-portal.png
Due: eslint, prettier, docusaurus-build-check

Improve Azure Functions docs formatting and links
  docs/integrations/connected-apps/cloud/azure-functions-operations.mdx
  docs/integrations/connected-apps/cloud/azure-functions.mdx
Due: eslint, prettier, docusaurus-build-check

Improve Google Cloud Storage docs formatting and links
  docs/integrations/connected-apps/cloud/google-cloud-storage-operations.mdx
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
Due: eslint, prettier, docusaurus-build-check

Improve Google Cloud Functions docs formatting and links
  docs/integrations/connected-apps/cloud/google-cloud-functions-operations.mdx
  docs/integrations/connected-apps/cloud/google-cloud-functions.mdx
Due: eslint, prettier, docusaurus-build-check

Improve AWS Lambda docs formatting and links
  docs/integrations/connected-apps/cloud/aws-lambda-operations.mdx
  docs/integrations/connected-apps/cloud/aws-lambda.mdx
Due: eslint, prettier, docusaurus-build-check

Update database integration docs formatting
  docs/integrations/connected-apps/database/mysql-operations.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql-operations.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis-operations.mdx
  docs/integrations/connected-apps/database/redis.mdx
Due: eslint, prettier, docusaurus-build-check

Update llms.txt with PR #1087 connected apps docs
  static/llms.txt
Due: none

Reorder connected apps sections in llms.txt to match CMS doc order
  static/llms.txt
Due: none

Refresh Agentspan docs migration with latest content and new pages
  docs/developer-guides/agentspan/assets/four-pillars.svg
  docs/developer-guides/agentspan/assets/plan-execute-boundary.svg
  docs/developer-guides/agentspan/concepts/adaptive-loops.mdx
  docs/developer-guides/agentspan/concepts/agents.mdx
  docs/developer-guides/agentspan/concepts/guardrails.mdx
  docs/developer-guides/agentspan/concepts/memory.mdx
  docs/developer-guides/agentspan/concepts/multi-agent.mdx
  docs/developer-guides/agentspan/concepts/plan-execute.mdx
  docs/developer-guides/agentspan/concepts/scheduling.mdx
  docs/developer-guides/agentspan/concepts/skills.mdx
  docs/developer-guides/agentspan/concepts/streaming.mdx
  docs/developer-guides/agentspan/concepts/testing.mdx
  docs/developer-guides/agentspan/concepts/tools.mdx
  docs/developer-guides/agentspan/examples/crash-resume.mdx
  docs/developer-guides/agentspan/examples/document-processor.mdx
  docs/developer-guides/agentspan/examples/google-adk.mdx
  docs/developer-guides/agentspan/examples/human-in-the-loop.mdx
  docs/developer-guides/agentspan/examples/langgraph.mdx
  docs/developer-guides/agentspan/examples/openai-agents-sdk.mdx
  docs/developer-guides/agentspan/examples/research-pipeline.mdx
  docs/developer-guides/agentspan/examples/support-triage.mdx
  docs/developer-guides/agentspan/overview.mdx
  docs/developer-guides/agentspan/quickstart.mdx
  docs/developer-guides/agentspan/reference/ai-models.mdx
  docs/developer-guides/agentspan/reference/cli.mdx
  docs/developer-guides/agentspan/reference/deployment.mdx
  docs/developer-guides/agentspan/reference/integrations.mdx
  docs/developer-guides/agentspan/reference/providers.mdx
  docs/developer-guides/agentspan/reference/sdk.mdx
  docs/developer-guides/agentspan/reference/self-hosting.mdx
  docs/developer-guides/agentspan/why-agentspan.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Remove stale pause-worflow duplicate doc page
  .mkdocs-routes.txt
  docs/reference-docs/api/workflow/pause-worflow.mdx
  mkdocs.yml
  mkdocs_content/llms-full.txt
  mkdocs_content/llms.txt
  mkdocs_content/reference-docs/api/workflow/pause-worflow.md
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix meta description length for source-control category
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Docs: bump 'Available since' to v5.4.2
  docs/developer-guides/metrics-and-observability.mdx
  docs/developer-guides/remote-services.mdx
  docs/reference-docs/api/authorization/list-grants-for-subject.mdx
  docs/reference-docs/api/authorization/revoke-grants-for-subject.mdx
  docs/reference-docs/api/remote-services/clone-service.mdx
  docs/reference-docs/api/secrets/list-accessible-secrets.mdx
  docs/reference-docs/api/workflow/get-workflow-size.mdx
  docs/reference-docs/operators/do-while.mdx
  docs/reference-docs/system-tasks/inline.mdx
Due: eslint, prettier, docusaurus-build-check

Remove redundant OSS reference pages, reorganize Guides nav
  docs/developer-guides/workflows.mdx
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Stop overwriting Orkes task-reference pages, drop enterprise-unavailable tasks
  docs/agentic-workflow-engine.mdx
  docs/developer-guides/ai-orchestration.mdx
  docs/reference-docs/system-tasks/index.mdx
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix OSS content quality issues across quickstart, AI, and API reference pages
  docs/quickstart/concepts.mdx
  docs/quickstart/tasks.mdx
  docs/quickstart/workers.mdx
  docs/quickstart/workflows.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

more fixes
  docs/cookbook/microservice-orchestration.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Adopt API reference index as Orkes-owned, fix stale API Sections table
  docs/reference-docs/api/index.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Adopt eventing cookbook page as Orkes-owned, fix Event task sink format
  docs/cookbook/event-driven.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix
  docs/developer-guides/conductor-skills.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fixes
  docs/cookbook/dynamic-parallelism.mdx
  docs/cookbook/dynamic-workflows.mdx
  docs/cookbook/task-timeouts-and-retries.mdx
  docs/cookbook/wait-and-timers.mdx
  docs/cookbook/workflow-scheduling.mdx
  scripts/generate-mkdocs-site.js
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix nav gaps in reference/integrations sections, drop dead Cookbook code
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update sidebars.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update google-gemini-ai.mdx
  docs/integrations/ai-llm/google-gemini-ai.mdx
Due: eslint, prettier, docusaurus-build-check

Restore nav-omitted pages, fix Task Queue nesting, merge redundant FAQ pages
  docs/faqs/general-faqs.mdx
  scripts/generate-mkdocs-site.js
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix broken CSS/JS on all 13 templates/* pages
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Rewrite Quickstart landing page for Developer Edition, not local OSS setup
  docs/getting-started/quickstart-index.mdx
  shared-docs-map.json
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix broken internal link after adopting quickstarts as Orkes-owned
  shared-docs-map.json
Due: prettier, detect-secrets, docusaurus-build-check

Add local dev watch mode, generated-output README, fix server crash
  mkdocs_content/README.md
  package.json
  scripts/dev-watch.js
  scripts/generate-mkdocs-site.js
  scripts/serve-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update quickstart-index.mdx
  docs/getting-started/quickstart-index.mdx
Due: eslint, prettier, docusaurus-build-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mdx)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  stylelint: any of: \.(css|scss|sass|less)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  prettier: any of: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

  detect-secrets: any of: \.(js|jsx|ts|tsx|py|yaml|yml|json)$ and not (^(yarn\.lock|package-lock\.json)$) and not ((?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$
)
  docusaurus-build-check: any of: \.(js|jsx|ts|tsx|mdx|json)$, but not: (?x)^(
  \.git/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  \.docusaurus/.*|
  yarn\.lock|
  package-lock\.json|
  \.secrets\.baseline
)$

