Repository orkes-io/docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, prettier, detect-secrets, docusaurus-build-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Docusaurus project
# Install with: pip install pre-commit
# Then run: pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        description: Check for merge conflict markers
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
      - id: check-yaml
        description: Check YAML syntax
      - id: check-json
        description: Check JSON syntax

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: yarn lint
        language: system
        files: \.(js|jsx|ts|tsx|mdx)$
        pass_filenames: false
        always_run: false

  # CSS linting
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: yarn lint:css
        language: system
        files: \.(css|scss|sass|less)$
        pass_filenames: false
        always_run: false

  # Code formatting with Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: yarn format
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md|mdx|yaml|yml)$
        pass_filenames: false
        always_run: false

  # Security scanning
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        entry: python -m detect_secrets scan --baseline .secrets.baseline
        language: system
        files: \.(js|jsx|ts|tsx|py|yaml|yml|json)$
        pass_filenames: false
        always_run: false
        exclude: ^(yarn\.lock|package-lock\.json)$

  # Docusaurus specific checks
  - repo: local
    hooks:
      - id: docusaurus-build-check
        name: Docusaurus build check
        entry: yarn build
        language: system
        files: \.(js|jsx|ts|tsx|mdx|json)$
        pass_filenames: false
        always_run: false
        stages: [pre-push]

# Exclude patterns
exclude: |
  (?x)^(
    \.git/.*|
    node_modules/.*|
    build/.*|
    dist/.*|
    \.docusaurus/.*|
    yarn\.lock|
    package-lock\.json|
    \.secrets\.baseline
  )$

fix
  docs/tutorials/agentic-interview-app.mdx
  docs/tutorials/document-approvals.mdx
  docs/tutorials/document-classifier.mdx
  docs/tutorials/document-retrieval.mdx
  docs/tutorials/long-running-apis.mdx
  docs/tutorials/pull-request-summary-workflow.mdx
  docs/tutorials/quickstart-ai-orchestration.mdx
  docs/tutorials/text-indexing-workflow.mdx
Due: eslint, prettier, docusaurus-build-check

Fix remaining broken list rendering in document-retrieval.mdx
  docs/tutorials/document-retrieval.mdx
Due: eslint, prettier, docusaurus-build-check

Fix broken list rendering in reference-docs operators/system-tasks examples
  docs/reference-docs/operators/do-while.mdx
  docs/reference-docs/operators/dynamic-fork.mdx
  docs/reference-docs/operators/dynamic.mdx
  docs/reference-docs/operators/fork-join.mdx
  docs/reference-docs/operators/get-workflow.mdx
  docs/reference-docs/operators/join.mdx
  docs/reference-docs/operators/set-variable.mdx
  docs/reference-docs/operators/sub-workflow.mdx
  docs/reference-docs/operators/switch.mdx
  docs/reference-docs/operators/terminate-workflow.mdx
  docs/reference-docs/operators/terminate.mdx
  docs/reference-docs/system-tasks/business-rule.mdx
  docs/reference-docs/system-tasks/event.mdx
  docs/reference-docs/system-tasks/http.mdx
  docs/reference-docs/system-tasks/inline.mdx
  docs/reference-docs/system-tasks/jq-transform.mdx
  docs/reference-docs/system-tasks/update-secret.mdx
  docs/reference-docs/system-tasks/update-task.mdx
Due: eslint, prettier, docusaurus-build-check

rendering fix
  docs/reference-docs/operators/start-workflow.mdx
  docs/reference-docs/operators/yield.mdx
  docs/reference-docs/system-tasks/business-rule.mdx
  docs/reference-docs/system-tasks/http-poll.mdx
  docs/reference-docs/system-tasks/query-processor.mdx
  docs/reference-docs/system-tasks/sendgrid.mdx
  docs/reference-docs/system-tasks/wait-for-webhook.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix list rendering bugs, add data-driven API index quick reference
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/api/workflow/get-workflow-size.mdx
  docs/reference-docs/api/workflow/retry-failed-workflow.mdx
  docs/reference-docs/system-tasks/query-processor.mdx
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Fix CI failure: duplicate API index meta descriptions
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

table rendering fix for integrations
  docs/integrations/ai-llm/anthropic-claude.mdx
  docs/integrations/ai-llm/aws-bedrock-anthropic.mdx
  docs/integrations/ai-llm/aws-bedrock-cohere.mdx
  docs/integrations/ai-llm/aws-bedrock-llama.mdx
  docs/integrations/ai-llm/aws-bedrock-titan.mdx
  docs/integrations/ai-llm/azure-open-ai.mdx
  docs/integrations/ai-llm/cohere.mdx
  docs/integrations/ai-llm/google-gemini-ai.mdx
  docs/integrations/ai-llm/grok.mdx
  docs/integrations/ai-llm/hugging-face.mdx
  docs/integrations/ai-llm/mistral.mdx
  docs/integrations/ai-llm/ollama.mdx
  docs/integrations/ai-llm/open-ai.mdx
  docs/integrations/ai-llm/perplexity.mdx
  docs/integrations/ai-llm/vertex-ai.mdx
  docs/integrations/cloud-provider/aws.mdx
  docs/integrations/cloud-provider/gcp.mdx
  docs/integrations/connected-apps/cloud/aws-lambda.mdx
  docs/integrations/connected-apps/cloud/aws-s3.mdx
  docs/integrations/connected-apps/cloud/azure-functions.mdx
  docs/integrations/connected-apps/cloud/azure-storage.mdx
  docs/integrations/connected-apps/cloud/google-cloud-functions.mdx
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
  docs/integrations/connected-apps/cms/wordpress.mdx
  docs/integrations/connected-apps/community/common-room.mdx
  docs/integrations/connected-apps/crm/hubspot.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis.mdx
  docs/integrations/connected-apps/payment/stripe.mdx
  docs/integrations/git.mdx
  docs/integrations/message-broker/amazon-msk.mdx
  docs/integrations/message-broker/amqp.mdx
  docs/integrations/message-broker/apache-kafka.mdx
  docs/integrations/message-broker/aws-sqs.mdx
  docs/integrations/message-broker/azure-service-bus.mdx
  docs/integrations/message-broker/confluent-kafka.mdx
  docs/integrations/message-broker/gcp-pub-sub.mdx
  docs/integrations/message-broker/ibm-mq.mdx
  docs/integrations/sendgrid.mdx
Due: eslint, prettier, docusaurus-build-check

table rendering issue
  docs/integrations/connected-apps/cloud/google-cloud-storage.mdx
  docs/integrations/connected-apps/database/mysql.mdx
  docs/integrations/connected-apps/database/postgresql.mdx
  docs/integrations/connected-apps/database/redis.mdx
  docs/integrations/connected-apps/productivity/google-calendar.mdx
  docs/integrations/connected-apps/productivity/google-docs.mdx
  docs/integrations/connected-apps/productivity/google-drive.mdx
  docs/integrations/connected-apps/productivity/google-sheets.mdx
  docs/integrations/connected-apps/productivity/google-slides.mdx
  docs/integrations/connected-apps/productivity/notion.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
  docs/integrations/connected-apps/project-management/discourse.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
  docs/integrations/connected-apps/source-control/github.mdx
  docs/integrations/message-broker/ibm-mq.mdx
  docs/integrations/message-broker/nats-messaging.mdx
  docs/integrations/rdbms/relational-database.mdx
  docs/integrations/vector-databases/mongo-vector-database.mdx
  docs/integrations/vector-databases/pinecone.mdx
  docs/integrations/vector-databases/postgres-vector-database.mdx
  docs/integrations/vector-databases/weaviate.mdx
Due: eslint, prettier, docusaurus-build-check

Fix remaining table-interrupted lists and misc content bugs in integrations
  docs/integrations/connected-apps/productivity/google-calendar.mdx
  docs/integrations/connected-apps/productivity/google-docs.mdx
  docs/integrations/connected-apps/productivity/google-drive.mdx
  docs/integrations/connected-apps/productivity/google-sheets.mdx
  docs/integrations/connected-apps/productivity/google-slides.mdx
  docs/integrations/connected-apps/productivity/notion.mdx
  docs/integrations/connected-apps/productivity/slack.mdx
  docs/integrations/connected-apps/project-management/discourse.mdx
  docs/integrations/connected-apps/project-management/jira.mdx
  docs/integrations/connected-apps/source-control/github.mdx
  docs/integrations/message-broker/apache-kafka.mdx
  docs/integrations/sendgrid.mdx
Due: eslint, prettier, docusaurus-build-check

audit-log doc
  docs/access-control-and-security/audit-logs.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Update audit-logs.mdx
  docs/access-control-and-security/audit-logs.mdx
Due: eslint, prettier, docusaurus-build-check

Add custom roles doc
  docs/access-control-and-security/custom-roles.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(docs): multi-line the standup-bot video embed to stop layout collapse
  docs/tutorials/daily-scrum-automation-using-standup-bot.mdx
Due: eslint, prettier, docusaurus-build-check

fix(docs): shift Material __config base for flat (no-slash) pages
  scripts/postprocess-mkdocs-build.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Revert "Add custom roles doc"
  docs/access-control-and-security/custom-roles.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Wrap admin-only note in note callout
  docs/access-control-and-security/custom-roles.mdx
Due: eslint, prettier, docusaurus-build-check

Add Guardrails dev guide and reference doc params for LLM tasks
  docs/developer-guides/guardrails.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(ci): check out fetched OSS commit by SHA, not branch name
  scripts/fetch-oss-docs.sh
Due: none

fix(ci): make docs audit merge-aware; restore JSON-LD; fix curated link rot
  docs/developer-guides/caching-task-outputs.mdx
  docs/developer-guides/gateway/api-gateway.mdx
  docs/developer-guides/gateway/mcp-gateway.mdx
  docs/developer-guides/idempotency.mdx
  docs/glossary.mdx
  docs/reference-docs/api/human-tasks/create-user-forms-in-bulk.mdx
  docs/reference-docs/api/human-tasks/save-task-ui-template.mdx
  docs/reference-docs/operators/yield.mdx
  docs/reference-docs/system-tasks/grpc.mdx
  docs/reference-docs/system-tasks/query-processor.mdx
  docs/tutorials/document-approvals.mdx
  docs/tutorials/finance.mdx
  docs/tutorials/fraud-dispute.mdx
  docs/tutorials/keep-worker-running-until-condition-true.mdx
  docs/tutorials/using-idempotency-keys-in-webhook-triggered-workflows.mdx
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix:error-handling page loop
  docs-redirects.json
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

fix(docs-home): SDK panel overflow, copy buttons, and dark code styling
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Adopt OSS docs home and navigation with Security tab and enterprise layers
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Remove 5-minute path callouts from security pages
  docs/access-control-and-security/applications.mdx
  docs/access-control-and-security/tags.mdx
  docs/access-control-and-security/users-and-groups.mdx
  mkdocs_content/access-control-and-security/applications.md
  mkdocs_content/access-control-and-security/tags.md
  mkdocs_content/access-control-and-security/users-and-groups.md
Due: eslint, prettier, docusaurus-build-check

Layer enterprise-only pages into OSS tabs across the navigation
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Rewrite OSS homepage links and re-apply messaging guardrails
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Mirror AI Cookbook and Platform tab changes, add redirects for dropped URLs
  docs-redirects.json
  mkdocs.yml
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Tighten top tab bar so all tabs fit without scrolling
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

enh:Wire Google Tag Manager into the MkDocs build
  deploy/SETUP-s3-cloudfront.md
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Add prod S3 deploy workflow
  .github/workflows/deploy-docs-prod-s3.yml
  deploy/SETUP-s3-cloudfront.md
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Restore 12 AI-task reference pages dropped in OSS/enterprise merge
  docs-redirects.json
  docs/reference-docs/ai-tasks/chunk-text.mdx
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-get-document.mdx
  docs/reference-docs/ai-tasks/llm-get-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-index-document.mdx
  docs/reference-docs/ai-tasks/llm-index-text.mdx
  docs/reference-docs/ai-tasks/llm-search-index.mdx
  docs/reference-docs/ai-tasks/llm-store-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  shared-docs-map.json
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Clean up restored AI-task pages: remove leftover UI section, fix broken accordion rendering
  docs/reference-docs/ai-tasks/chunk-text.mdx
  docs/reference-docs/ai-tasks/list-files.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-get-document.mdx
  docs/reference-docs/ai-tasks/llm-get-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-index-document.mdx
  docs/reference-docs/ai-tasks/llm-index-text.mdx
  docs/reference-docs/ai-tasks/llm-search-index.mdx
  docs/reference-docs/ai-tasks/llm-store-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
Due: eslint, prettier, docusaurus-build-check

Add Audit Logs doc under Security tab
  docs/access-control-and-security/audit-logs.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Rename Guardrails doc to LLM Task Guardrails, cross-link related docs
  docs/developer-guides/guardrails.mdx
  docs/reference-docs/ai-tasks/llm-chat-complete.mdx
  docs/reference-docs/ai-tasks/llm-generate-embeddings.mdx
  docs/reference-docs/ai-tasks/llm-text-complete.mdx
  docs/reference-docs/ai-tasks/parse-document.mdx
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Document Start Agent event handler action, add v5.5.0 version tags
  docs/developer-guides/event-handler.mdx
  docs/developer-guides/guardrails.mdx
Due: eslint, prettier, docusaurus-build-check

Swap AI Tasks nav entry under HITL & AI Orchestration to OSS page
  sidebars.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Remove injected proof-points strip from docs home
  scripts/audit-docs-build.js
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check

Reserve OSS tabs before enterprise sidebar layering, group extras under Orkes Enterprise
  scripts/generate-mkdocs-site.js
Due: eslint, prettier, detect-secrets, docusaurus-build-check
